@*<h3>VybaveniRow</h3>*@

  @if (Item == null) return;
                @if (Item.IsInEditMode == false)
                {
    
        <tr class="@(Item.NeedRevision?"bg-red-300":"")">
            <td>@Item.Name</td>
            <td>@Item.BoughtDate.ToShortDateString()</td>    
            <td>@Item.LastRevisionDate.ToShortDateString()</td>
             <td>@(Item.NeedRevision?"Ano":"Ne")</td>
              

            <td class="flex gap-1">
                <td><button class="bg-danger rounded-sm text-sm px-2 py-1" @onclick = "@(() => DeleteCallback.InvokeAsync())">Smazat</button></td>

                <td><button class="bg-primary rounded-sm text-sm px-2 py-1" @onclick="() => Item.LastRevisionDate = DateTime.Now">Provést revizi</button></td>
               
                <td><button @onclick = "() => Item.IsInEditMode = true" class="bg-light border rounded-sm text-sm px-2 py-1">🛠</button></td>
            </td>
        </tr>
   

} else
{
    
        <tr class = "rowRevision" style = " background-color: #dc142c">
            <td><input @bind-value=Item.Name/></td>
            <td><input type="date" @bind-value=Item.BoughtDate/></td>    
            <td><input type="date" @bind-value=Item.LastRevisionDate/></td>
             <td>@(Item.NeedRevision?"Ano":"Ne")</td>

                        <td class="flex gap-1">
                        <button @onclick="() => Item.IsInEditMode = false" class="bg-green-420 rounded-sm text-sm px-2 py-1">Ok</button>
                        </td>
                    </tr>
                
                }
                


@code {
     [Parameter] public PptNemocnice.Shared.VybaveniModel? Item { get; set; }

    [Parameter] public EventCallback<PptNemocnice.Shared.VybaveniModel> DeleteCallback { get; set; }
    
}
